<!-- Page Content -->
<main role="main" class="inner cover">
  <h1 class="cover-heading">Example your page.</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium scelerisque posuere. Integer tempus, dui sit amet
    porta rhoncus</p>
  <p class="lead">
    <a href="https://github.com/gurolayanlar/angularjs-starter" class="btn btn-lg btn-secondary">Github</a>
  </p>
</main>