<!-- Footer -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Example template for
            <a href="https://getbootstrap.com/">Bootstrap</a>, by
            <a href="https://twitter.com/gurolayanlar">@gurolayanlar</a>.</p>
    </div>
</footer>