<!-- Navigation -->
<navbar class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">Example</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/contact">Contact</a>
        </nav>
    </div>
</navbar>